<section>
  <div class="page-header">
    <h1>Videos{{currentvideoId}}{{success}}</h1>
  </div>
  <video id="my-video" class="video-js" controls preload="auto" with="640" height="264" data-setup="{}" ng-show="currentVideo">
    <source src="{{currentVideo}}" type="video/mp4">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
  <div class="list-group">
    <a ng-repeat="video in videos" ui-sref="videos({ videoId: video._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="video.created | date:'mediumDate'"></span>
        by
        <span ng-if="video.user" ng-bind="video.user.displayName"></span>
        <span ng-if="!video.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="video.filename"></h4>
    </a>
    <a ng-if="videoUploaded" ui-sref="videos({ videoId: videoUploaded._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="videoUploaded.created | date:'mediumDate'"></span>
        by
        <span ng-if="videoUploaded.user" ng-bind="videoUploaded.user.displayName"></span>
        <span ng-if="!videoUploaded.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="videoUploaded.filename"></h4>
    </a>
  </div>
  <div ng-show="success" class="text-center text-success">
    <strong>Videos Uploaded Successfully</strong>
  </div>
  <div ng-show="error" class="text-center text-danger">
    <strong ng-bind="error"></strong>
  </div>
  <div class="alert alert-warning text-center">
    No videos yet, why don't you
    <span class="btn btn-default btn-file" ng-show="user">
      upload one <input type="file" nv-file-select uploader="uploader">
    </span>
    <span class="btn btn-default btn-file" ng-hide="user">
      <a ui-sref="authentication.signin" title="upload one">upload one</a>
    </span>
    ?
  </div>
</section>
