<section>
  <div class="page-header">
    <h1>{{vm.audio._id ? 'Update Audio': 'New Audio'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.audioForm" class="form-horizontal" ng-submit="vm.save(vm.form.audioForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Enter a name that you want to call this audio file:</label>
          <input name="title" type="text" ng-model="vm.audio.title" id="title" class="form-control"
                 placeholder="{{vm.audio.mediaInfo.track_name}}"/>
          <div ng-messages="vm.form.audioForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Audio title is required.</p>
          </div>
        </div>
        <div class="form-group pull-right">
          <button class="btn btn-default btn-file">
            Select Audio File <input type="file" nv-file-select uploader="uploader">
          </button>
          <button type="submit" class="btn btn-default" ng-click="uploadAudioFile()">{{vm.audio._id ? 'Update':
            'Upload'}}
          </button>
          <button type="submit" class="btn btn-default" ng-click="cancelUpload()">Cancel</button>
        </div>
        <div ng-show="audioUploadSuccess" class="text-center text-success">
          <strong>Audio file successfully uploaded.</strong>
        </div>
        <div ng-show="audioUploadError" class="text-center text-danger">
          <strong ng-bind="audioUploadError"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
